<div class='container' style='margin-top: 30px'>
  <div class='row'>
    <div class='col-sm-4 col-xxxl-3'><a
        class='element-box el-tablo'
        href='#'
      ><div class='label'>Filial sayı</div><div class='value'>
          {{branchCount}}
        </div>
      </a>
    </div>
    <div class='col-sm-4 col-xxxl-3'><a
        class='element-box el-tablo'
        href='#'
      ><div class='label'>Video sayı</div><div class='value'>
          {{videoCount}}
        </div>
      </a>
    </div>
    <div class='col-sm-4 col-xxxl-3'><a
        class='element-box el-tablo'
        href='#'
      ><div class='label'>Baxış sayı</div><div class='value'>
          {{viewCount}}
        </div>
      </a>
    </div>
    <div class='col-sm-12'>
      <div class='element-box'><div class='el-chart-w'><div
            class='chartjs-size-monitor'
          ><div class='chartjs-size-monitor-expand'><div
                class=''
              ></div></div><div class='chartjs-size-monitor-shrink'><div
                class=''
              ></div></div></div><canvas
            height='400'
            id='donutChart'
            width='400'
            style='display: block; height: 320px; width: 320px;'
            class='chartjs-render-monitor'
          ></canvas><div class='inside-donut-chart-label'><strong
            >142</strong><span>Total Orders</span></div></div><div
          class='el-legend condensed'
        ><div class='row'><div
              class='col-auto col-xxxxl-6 ml-sm-auto mr-sm-auto col-6'
            ><div class='legend-value-w'><div
                  class='legend-pin legend-pin-squared'
                  style='background-color: #6896f9;'
                ></div><div class='legend-value'><span>Prada</span><div
                    class='legend-sub-value'
                  >14 Pairs</div></div></div><div class='legend-value-w'><div
                  class='legend-pin legend-pin-squared'
                  style='background-color: #85c751;'
                ></div><div class='legend-value'><span>Maui Jim</span><div
                    class='legend-sub-value'
                  >26 Pairs</div></div></div></div><div
              class='col-6 d-lg-none d-xxl-block'
            ><div class='legend-value-w'><div
                  class='legend-pin legend-pin-squared'
                  style='background-color: #806ef9;'
                ></div><div class='legend-value'><span>Gucci</span><div
                    class='legend-sub-value'
                  >17 Pairs</div></div></div><div class='legend-value-w'><div
                  class='legend-pin legend-pin-squared'
                  style='background-color: #d97b70;'
                ></div><div class='legend-value'><span>Armani</span><div
                    class='legend-sub-value'
                  >12 Pairs</div></div></div></div></div></div></div>
    </div>
  </div>
</div>