<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a href='/admin'>Ana səhifə</a></li>
  <li class='breadcrumb-item'><span>Şifrəni yenilə</span></li>
</ul>
<div class='row mt-4'>
  <div class='col-md-10 mx-auto'>
    <h4>
      Şifrəni yenilə
    </h4>
  </div>
  <div class='col-md-10 mt-4 mx-auto'>
    <form action='/admin/branches' method='post' enctype='multipart/form-data'>
      <div class='form-group'>
        <label for='name'>Köhnə şifrə</label>
        <input
          id='name'
          name='currentPassword'
          type='text'
          class='form-control'
          required
        />
        {{#if error === 2}}
        <small class='text-danger'>Köhnə şifrə yanlışdır</small>
        {{/if}}
      </div>
      <div class='form-group'>
        <label for='name'>Yeni şifrə</label>
        <input
          id='name'
          name='newPassword'
          type='text'
          class='form-control'
          required
        />
      </div>
      <div class='form-group'>
        <label for='name'>Yeni şifrə təkrar</label>
        <input
          id='name'
          name='newPasswordConfirm'
          type='text'
          class='form-control'
          required
        />
        {{#if error === 1}}
        <small class='text-danger'>Şifrələr uyğun deyil</small>
        {{/if}}
        {{#if success === 1}}
        <small class='text-success'>Şifrə yeniləndi</small>
        {{/if}}
      </div>
      <div class='form-group d-flex'>
        <button class='btn btn-success'>Yadda saxla</button>
        <a href='/admin' class='btn btn-secondary ml-2'>Geri</a>
      </div>
    </form>
  </div>
</div>